envrc
out
!deploy/.env
.vagrant
deploy/compose/state/webroot/misc/osie/current/*
deploy/compose/state/webroot/workflow/*
!deploy/compose/state/webroot/misc/osie/current/.keep
!deploy/compose/state/webroot/workflow/.keep
deploy/compose/state/webroot/*.gz
workflow_id.txt
