# hidden files/dirs
.*
!deploy/compose/postgres/state/webroot/misc/osie/current/.keep
!deploy/compose/postgres/state/webroot/workflow/.keep
!deploy/.env
!deploy/compose/.env
!.gitignore
!.github/

# Local .terraform directories
.terraform*
!.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

compose.tar.gz
compose.zip
deploy/compose/postgres/state/webroot/*.gz
deploy/compose/postgres/state/webroot/misc/osie/current/*
deploy/compose/postgres/state/webroot/workflow/*
deploy/compose/manifests/manifests.yaml
deploy/compose/state/*
!deploy/compose/state/.keep
envrc
out
workflow_id.txt
