---
clusterName: "capt-playground"
outputDir: "output"
namespace: "tinkerbell"
counts:
  controlPlanes: 1
  workers: 1
  spares: 1
versions:
  capt: v0.6.5
  chart: v0.19.0
  kube: v1.29.4
  os: 20.04
  kubevip: 0.9.1
capt:
  providerRepository: "https://github.com/tinkerbell/cluster-api-provider-tinkerbell/releases"
  #providerRepository: "/home/tink/repos/tinkerbell/cluster-api-provider-tinkerbell/out/release/infrastructure-tinkerbell"
chart:
  location: "oci://ghcr.io/tinkerbell/charts/tinkerbell"
  #location: "/home/tink/repos/tinkerbell/tinkerbell/helm/tinkerbell"
  extraVars:
  #- deployment.image=your.registry.com/tinkerbell/tinkerbell
  #- deployment.imageTag=v0.19.1
  #- deployment.agentImageTag=latest
os:
  registry: ghcr.io/tinkerbell/cluster-api-provider-tinkerbell
  distro: ubuntu
  sshKey: ""
vm:
  baseName: "node"
  cpusPerVM: 2
  memInMBPerVM: 2048
  diskSizeInGBPerVM: 10
  diskPath: "/tmp"
virtualBMC:
  containerName: "virtualbmc"
  image: ghcr.io/jacobweinstock/virtualbmc:latest
  user: "root"
  pass: "calvin"
bootMode: netboot
