apiVersion: v1
kind: Secret
metadata:
    name: bmc-creds
    namespace: $NAMESPACE
    labels:
        clusterctl.cluster.x-k8s.io/move: ""
        clusterctl.cluster.x-k8s.io: ""
data:
    password: $BMC_PASS_BASE64
    username: $BMC_USER_BASE64
type: kubernetes.io/basic-auth
