providers:
  - name: "tinkerbell"
    url: "https://github.com/tinkerbell/cluster-api-provider-tinkerbell/releases/v$CAPT_VERSION/infrastructure-components.yaml"
    type: "InfrastructureProvider"
images:
  infrastructure-tinkerbell:
    tag: v$CAPT_VERSION